*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.wraper {
  width: 100%;
  margin: 0 auto;
  background: url(../images/background.png) center/cover no-repeat;
  height: 900px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text {
  color: #ffffff;
}
.text-nav {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.text-heading {
  color: #212121;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}
.text-title {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.text-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.text-primary {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.text-smail {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.text-green {
  color: #1bb71f;
}
.text-ellipse {
  font-size: 14px;
  text-align: center;
  color: #1bb71f;
  font-weight: 500;
  line-height: 1.7142857143;
  text-transform: uppercase;
}

.header {
  background: rgba(51, 51, 69, 0.7);
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.header-author {
  position: relative;
}
.header-author:hover .header-outhor-resgiter {
  opacity: 1;
  visibility: visible;
}
.header-author-login {
  display: flex;
  align-items: center;
  background-color: #cd7b1a;
  padding: 20px 10px;
  cursor: pointer;
}
.header-outhor-resgiter {
  display: flex;
  align-items: center;
  background-color: #cd7b1a;
  padding: 36px 20px;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  transform: translateY(20px);
}
.header-outhor-resgiter::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
  opacity: 0;
}
.header-othor-image {
  margin-right: 11px;
}
.header-author-icon {
  margin-left: 3px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 0 35px;
}
.menu-item {
  list-style-type: none;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
  }
  .menu-link::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #1bb71f;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #1bb71f;
    font-size: 16px;
  }
  .menu-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.hero-main {
  margin-top: 227px;
  max-width: 425px;
}
.hero-title {
  margin-bottom: 21px;
}

.abouts {
  margin-top: 570px;
}
.abouts-main {
  display: flex;
  gap: 0 100px;
}
.abouts-image img {
  border-radius: 10px;
  object-fit: cover;
}
.abouts-icon {
  font-size: 42px;
  font-weight: 400;
  color: #1bb71f;
  width: 42px;
  height: 42px;
}
.abouts-title {
  max-width: 473px;
  padding-top: 16px;
}
.abouts-title::after {
  content: " ";
  margin-top: 21px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 3px;
  background-color: #1bb71f;
}
.abouts-list {
  margin-top: 42px;
}
.abouts-item {
  display: flex;
  align-items: center;
  gap: 0 28px;
  margin-bottom: 34px;
}
.abouts-item p {
  max-width: 430px;
}

.icofont-mail-box {
  color: #1bb71f;
}

.ellipse-img {
  width: 500px;
  height: 500px;
  position: relative;
}
.ellipse-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ellipse-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 370px;
  border-radius: 370px;
  border: 7px solid #1bb71f;
  background: #ffffff;
  opacity: 0.9;
}
.ellipse-child {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #1bb71f;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}
.ellipse-logo {
  position: absolute;
  width: 193px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ellipse-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ellipse-top {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.ellipse-left {
  left: -22px;
  bottom: 30px;
}
.ellipse-right {
  right: -22px;
  bottom: 30px;
}

.products-affter::after {
  content: " ";
  margin-top: 11px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 3px;
  background-color: #1bb71f;
}

.products {
  margin-top: 120px;
}

.products-main {
  display: flex;
  gap: 0 70px;
}
.products-title h2 {
  padding-bottom: 28px;
}
.products-title p {
  width: 370px;
  margin-bottom: 20px;
}
.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 50px;
}
.products-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products-item span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #555555;
  padding: 17px 0 19px;
  border-bottom: 1px solid #F3F3F3;
}
.products-image {
  max-width: 340px;
  max-height: 248px;
  object-fit: fill;
}

@media (hover: hover) {
  .products-item:hover span {
    cursor: pointer;
    color: #212121;
    border-top: 2px solid #1bb71f;
    border-bottom: 2px solid #1bb71f;
    transition: all 0.2s linear;
  }
}
.register {
  margin-top: 120px;
  background: url(../images/login-image.png) center/cover no-repeat;
}

.registers {
  background: rgba(33, 33, 45, 0.6);
}

.register-title {
  padding: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.register-title a {
  color: #1bb71f;
  border-bottom: 1px solid #1bb71f;
}

.partners {
  margin-top: 70px;
}

.partners-main {
  display: flex;
  align-items: center;
  gap: 0 30px;
  justify-content: center;
}
.partners-item {
  max-width: 170px;
  background: #F3F3F3;
}
.partners-item img {
  padding: 14px 18px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.contacts {
  margin-top: 100px;
  background-color: #21212D;
}

.contacts-main {
  padding: 16px 0;
  display: flex;
  gap: 0 120px;
  align-items: center;
}
.contacts-logo {
  width: 180px;
}
.contacts-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts-address span {
  display: block;
}
.contacts-infor span {
  display: block;
}

.wraper {
  position: relative;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(33, 33, 45, 0.7);
  height: 900px;
  position: fixed;
  will-change: transform;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.2s ease-out;
}

.login-main {
  display: flex;
  gap: 0 30px;
}
.login.is-show {
  transform: translateX(0);
}
.login-signin {
  max-width: 400px;
  max-height: 445px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.login-signup {
  max-width: 400px;
  max-height: 380px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
}
.login-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-title {
  margin-top: 13px;
  margin-bottom: 30px;
}
.login-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 20px;
}
.login-author-firstname {
  position: relative;
}
.login-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-input {
  width: 100%;
  max-height: 46px;
  border: 1px solid #f3f3f3;
  background: #fff;
  padding: 15px 5px 15px 45px;
}
.login-input-min {
  max-width: 175px;
  max-height: 46px;
}
.login-input::placeholder {
  color: rgba(33, 33, 33, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-email {
  margin-bottom: 20px;
}
.login-phone {
  margin-bottom: 22px;
}
.login-check {
  display: flex;
  align-items: center;
  gap: 0 7px;
  margin-bottom: 30px;
}
.login-check-input {
  width: 20px;
  height: 20px;
}
.login-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
}
.login-prompt a {
  color: #3e6de4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.text-login {
  color: #212121;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-icon-error {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 1 0;
  line-height: normal;
  text-transform: uppercase;
}

.text-login-icon {
  padding: 12px 15px 12px 8px;
  color: #212121;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.text-check {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-a-blue {
  color: #3e6de4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-green {
  padding: 12px 25px;
  background: #1bb71f;
}
.button-green a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.button-blue {
  padding: 12px 15px;
  border-radius: 5px;
  background: #4867aa;
}
.button-blue a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.signup-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-check {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.signup-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
  gap: 0 20px;
}

.footer {
  background-color: #16162B;
}

.footer-title {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
