.header {
  background: rgba(51, 51, 69, 0.7);
}
.header {
  &-main {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }
  &-author {
    display: flex;
    align-items: center;
    background-color: #cd7b1a;
    padding: 20px 10px;
  }
  &-othor-image {
    margin-right: 11px;
  }
  &-author-icon {
    margin-left: 3px;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-list {
    display: flex;
    align-items: center;
    gap: 0 35px;
  }
  &-item {
    list-style-type: none;
  }
}
