.register {
  margin-top: 120px;
  background: url(../images/login-image.png) center/cover no-repeat;
}
.registers {
  background: rgba(33, 33, 45, 0.6);
}
.register {
  &-main {
  }
  &-title {
    padding: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    a {
      color: $green-color;
      border-bottom: 1px solid $green-color;
    }
  }
}
